@model IEnumerable<Paper_Portal.Models.Paper>
@using Paper_Portal.Helpers
@using Microsoft.Data.Entity;
<table class="table">
    <thead>
        <tr>
            @if (User.IsInRole(RoleHelper.Printer) && ViewBag.Checks == "true")
            {
                <th>
                    @Html.Raw("Done")
                </th>
            }
            <th>
                @Html.Raw("Downloaded")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Copies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uploader.Department.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                @if (User.IsInRole(RoleHelper.Printer) && ViewBag.Checks == "true")
                {
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="selected" value="@item.PaperId" />
                            </label>
                        </div>
                    </td>
                }
                <td style="vertical-align:middle;">
                    @if (item.DownloadsNum >= 1 && User.IsInRole(RoleHelper.Teacher))
                    {
                        var downloaders = item.Downloader.Select(d => new { d.User, d.Count }).ToList();
                        var id = "downloaders" + item.PaperId;
                        var btnId = "#" + id;
                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target=@btnId>
                            Downloaders
                        </button>

                        <div class="modal fade" id=@id tabindex="-1" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Downloaders</h4>
                                    </div>
                                    <div class="modal-body">
                                        <ul>
                                            @{
                                                foreach (var user in downloaders)
                                                {
                                                    var name = (user.User.FullName != null) ? user.User.FullName : user.User.UserName;
                                                    <li>@name <span class="badge">@user.Count</span></li>

                                                }
                                            }
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else if (item.DownloadsNum >= 1)
                    {
                        @Html.Raw("&#10004;")
                    }
                    else {
                        @Html.Raw("&#10008;")
                    }
                </td>
                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.Copies)
                </td>
                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.Instructor)
                </td>
                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.Uploader.Department.Name)
                </td>
                <td>
                    <div class="btn-group-sm">
                        <a asp-action="Details" asp-route-id="@item.PaperId" class="btn btn-info">Details</a>
                        @if (User.IsInRole(RoleHelper.Printer) && ViewBag.Options == "true")
                        {
                            <a asp-action="Download" asp-route-id="@item.PaperId" class="btn btn-primary">Download</a>
                            <a asp-action="JobDone" asp-route-id="@item.PaperId" class="btn btn-success">Done</a>


                        }
                        @if (User.IsInRole(RoleHelper.Teacher) && ViewBag.Options == "true")
                        {
                            <a asp-action="Edit" asp-route-id="@item.PaperId" class="btn btn-primary">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.PaperId" class="btn btn-danger">Delete</a>
                        }
                    </div>
                </td>

            </tr>
                                                }
    </tbody>
</table>