@model Paper_Portal.Models.Paper

@{
    ViewData["Title"] = "Download";
}

<h2>Download</h2>

@{

    if (ViewBag.Verified == "False")
    {
        <h3>Verfication Unsuccessful!</h3>
        <h4>File Can't be downloaded.</h4>
        <h5>It has been tampered with.</h5>

        <a asp-action="Index">Back to List</a>
    }
    else
    {
<div>
    <h3>Verfication Successful!</h3>
    <h4>Paper</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Copies)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Copies)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Due)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Due)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Instructor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Instructor)
        </dd>
    </dl>
    
    <form asp-action="Download">
        <div class="form-actions no-color">
            <input type="submit" value="Download" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
        }
    }