@model IEnumerable<Sprint.Models.PaperViewModels.DeptViewModel>
@using Sprint.Helpers
@{
    ViewData["Title"] = "Departments";
}

<h2 class="mdl-color-text--primary-contrast">@ViewData["Title"]</h2>

<div class="mdl-grid" style="max-width:inherit">
    @foreach (var item in Model)
    {
        <div class="sprint-card-square mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col">
            <div class="mdl-card__title mdl-card--expand">
                <h3 class="mdl-card__title-text">@item.DeptName</h3>
            </div>
            <div class="mdl-card__supporting-text">
                <h6>
                    Done : <span class="mdl-color-text--primary"> @item.Done </span> <br />
                    Un Done : <span class="mdl-color-text--accent"> @item.Undone </span>
                </h6>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a asp-action="Index" asp-route-id="@item.DeptId" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    View Papers
                </a>
            </div>
        </div>

    }
</div>