@model Sprint.Models.PaperViewModels.StatusViewModel
@using Sprint.Helpers
@{
    ViewData["Title"] = "Status";
}

<h2 class="text-primary-color">@ViewData["Title"]</h2>

@if ((string)ViewData["StatusMessage"] != "")
{
    <div class="alert alert-dismissible mdl-color-text--primary-dark" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @ViewData["StatusMessage"]
    </div>
}

    @*<div class="panel mdl-color--primary-dark">
            <div class="panel-heading" data-toggle="collapse" href="#completed">
                <h3 class="panel-title">
                    Completed
                </h3>
            </div>
            <div id="completed" class="panel-collapse collapse in">
                <div class="panel-body">
                    @Html.Partial("_PapersList", Model.Completed)
                </div>
            </div>
        </div>

        <div class="panel mdl-color--primary-dark">
            <div class="panel-heading" data-toggle="collapse" href="#incomplete">
                <h3 class="panel-title">Incomplete</h3>
            </div>
            <div id="incomplete" class="panel-collapse collapse in">
                <div class="panel-body">
                    @Html.Partial("_PapersList", Model.Incomplete)
                </div>
            </div>
        </div>*@
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar mdl-color--primary-contrast">
            <a href="#completed" class="mdl-tabs__tab is-active">Complete</a>
            <a href="#incomplete" class="mdl-tabs__tab">Incomplete</a>
        </div>
        <div class="mdl-tabs__panel is-active" id="completed">
            @Html.Partial("_PapersList", Model.Completed)
        </div>
        <div class="mdl-tabs__panel" id="incomplete">
            @Html.Partial("_PapersList", Model.Incomplete)
        </div>
    </div>
    @section Scripts {
        @{ await Html.RenderPartialAsync("_ModalScriptPartial"); }
    }
