@model RegisterViewModel
@using Sprint.Helpers;
@{
    ViewData["Title"] = "Register";
}

<h2 class="text-primary-color">@ViewData["Title"]</h2>
<div class="well col-md-11 col-md-offset-1">
    <form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal" role="form">
        <h4 class="mdl-color-text--primary">Create a new account</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group label-floating">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group label-floating">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group label-floating">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group label-floating">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group label-floating">
                    <label asp-for="Role" class="control-label"></label>
                    <select asp-for="Role" asp-items="@ViewBag.Roles" class="form-control dropdownjs" id="role"></select>
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div id="dept" class="form-group label-floating">
                    <label asp-for="DepartmentId" class="control-label"></label>
                    <select asp-for="DepartmentId" asp-items="@ViewBag.Departments" class="form-control"></select>
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent mdl-button--raised">Register</button>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        $(function () {
            $("#dept").hide();

            $("#role").change(function () {
                if ($("#role").val() == '@RoleHelper.Printer') {
                    $("#dept").hide();
                } else if ($("#role").val() == '@RoleHelper.Teacher') {
                    $("#dept").show();
                }
            });
        });
    </script>
}
