@model Sprint.Models.ManageViewModels.RolesViewModel
@using Sprint.Helpers;
@{
    ViewData["Title"] = "Manage Roles";
}

<h2 class="text-primary-color">@ViewData["Title"]</h2>

<div class="well col-md-10 col-md-offset-1">
    <form asp-action="Roles" method="post">
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.FullName)
        @Html.HiddenFor(m => m.Email)
        @Html.HiddenFor(m => m.Id)
            <h3>@Model.FullName</h3>

            <h4>Roles</h4>

            @for (var i = 0; i < Model.Roles.Count(); i++)
            {
                <div class="checkbox">   
                    <label>
                        @Html.CheckBoxFor(model => model.Roles[i].Selected)
                    </label>
                    @Html.DisplayFor(model => model.Roles[i].Name)
                    @Html.HiddenFor(model => @Model.Roles[i].Name)
                </div>

            }

        <button class="btn btn-primary btn-raised pull-right" type="submit">Save</button>
    </form>
</div>