@model IEnumerable<Sprint.Models.ManageViewModels.UsersViewModel>

@{
    ViewData["Title"] = "Users";
}

<h2 class="text-primary-color">@ViewData["Title"]</h2>

<div class="well col-md-10 col-md-offset-1">
    <form>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailConfirmed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Verified)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Roles)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td style="vertical-align:middle;">
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td style="vertical-align:middle;">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td style="vertical-align:middle;">
                        <div class="checkbox checkbox-inline">
                            <label>
                                <input asp-for="@item.EmailConfirmed" class="checkbox checkbox-inline" disabled />
                            </label>
                        </div>
                    </td>
                    
                    <td style="vertical-align:middle;">
                        <div class="checkbox checkbox-inline">
                            <label>
                                <input asp-for="@item.Verified" class="checkbox checkbox-inline" disabled />
                            </label>
                        </div>
                    </td>
                    <td style="vertical-align:middle;">
                        <ul style="list-style:none; padding-left:2px;">
                            @foreach (var role in item.Roles)
                            {
                                <li>@role</li>
                            }
                            <li><a asp-action="Roles" asp-route-id="@item.Id">Manage Roles</a></li>
                        </ul>
                    </td>
                    <td style="vertical-align:middle;">
                        <a asp-action="Unverify" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Un-Verify</a>
                    </td>
                </tr>
            }
        </table>
    </form>
</div>
