@model IEnumerable<Sprint.Models.ManageViewModels.VerifyUsersViewModel>

@{
    ViewData["Title"] = "Verify Users";
}

<h2 class="mdl-color-text--primary-contrast">@ViewData["Title"]</h2>

    <div class="well col-md-10 col-md-offset-1">
        <form asp-controller="Manage" asp-action="Verify" method="post" class="form-horizontal" role="form">
            
            <table style="width:100%" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <tr>
                    <th class="mdl-data-table__cell--non-numeric  mdl-data-table__header--sorted-ascending">
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th class="mdl-data-table__cell--non-numeric">
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th class="mdl-data-table__cell--non-numeric">
                        @Html.DisplayNameFor(model => model.Department)
                    </th>
                    <th class="mdl-data-table__cell--non-numeric">
                        @Html.DisplayNameFor(model => model.EmailConfirmed)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                            @Html.DisplayFor(modelItem => item.Department)
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                            @if (@item.EmailConfirmed)
                            {
                                <i class="material-icons mdl-button--primary">check_circle</i>
                            }
                            else
                            {
                                <i class="material-icons mdl-button--accent">cancel</i>
                            }
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                            <a asp-action="VerifyUser" asp-route-id="@item.Id" asp-route-returnUrl="Users" class="btn btn-sm mdl-color-text--primary">Verify</a>
                        </td>
                    </tr>
                }
            </table>
        </form>
    </div>
    @section Scripts {
        @{ await Html.RenderPartialAsync("_CheckAllScriptPartial");}
    }
